<!--index.ejs-->
<table class="table">
    <tr>
        <td>
            <%= person.name %>
        </td>
        <td>
            <%= person.age %>
        </td>
    </tr>
</table>
<form method="POST" action="/person/delete/<%=person.id%>"> 
    <button type="submit"> delete!</button>
</form>
